#hero{
    .hero-text{
        text-align: left;
        .hero-text-inner{
            width: 400px;
            margin: 0 auto;

            .brand-holder{
                .brand-logo,
                .brand-name{
                    display: inline;
                    vertical-align: top;
                    line-height: 110px;
                }
                .brand-logo{
                    margin-right: 20px;
                    fill:#fff;
                    width: 180px; 
                    height: 110px;
                }
                .brand-name{
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: "GothamBold",sans-serif;
                    letter-spacing: 2px;
                }
            } 
            .entry-title{
                font-size: 16px;
                font-weight: 400;
                font-family: "GothamBold",sans-serif;
                text-transform: uppercase;
            }
            p{
                font-size: 16px;
                font-family: "GothamBook",sans-serif;
                text-transform: uppercase;
            }
        }
    }
}
