*::-moz-selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}

*::selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}

.row{
    width: auto;    
}
    
html,
body {
    height: 100%;
}

a{
    transition: color .15s ease-in-out;
}
